.cars-carimage-container{
    position: relative;
    left: 280px;
    padding: 40px 60px;
    /* z-index: -1; */
}

.carimage-table {
    border-collapse: collapse;
    width: max-content;
}
  
.carimage-table-data , .carimage-table-header {
    border: 1px solid #dddddd;
    text-align: left;
    max-width: 150px;
    padding: 8px;
}
  
.deatils-table-row:nth-child(even) {
    background-color:  rgba(248, 236, 219, 0.9)
}


.deletebutton{
    padding: 10px;
    border: 0px;
    background-color: red;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin: 0px 15px 0px 15px;
    cursor: pointer;
}

.deletebutton:hover{
    background-color: rgb(255, 98, 0);
}

.imageinsertbutton{
    margin: 20px;
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 0px transparent;
    background-color: rgb(13, 117, 55);
    color: white;
    font-weight: 600;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}