.image-slider-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.slide-container {
    width: 50%; 
    margin: 0 20px;
}

  
.slider-image {
    justify-self: center; 
}

  
.slider-image  {
    min-height: 160px;
    width: auto;
    height: 400px;
    max-width: 100%;
    object-fit: cover;
    justify-self: center;
    margin-top: 10px;
  
}

.slider-image  img{
    min-height: 160px;
    width: auto;
    height: 400px;
    max-width: 600px;
    object-fit: cover;
    margin-left: 80px;
    overflow: hidden;
}

#right-arrow{
    background-color: transparent;
    border: 0;
}

#left-arrow{
    background-color: transparent;
    border: 0;
    rotate: -180deg;
}