.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color:#fff1e6;
}

.search-container > h2 {
    margin: 0;
    padding: 18px;
    margin-top: 10px;
}

.searchbar{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    border: 0px;
}