.Admin{
    display: flex;
    z-index: 99;
}

.container-admin{
    overflow: hidden;
}

.admin-nav{
    width: 300px;
    background-color: rgb(254, 239, 211);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0%;
}

.admin-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.admin-image{
    border-radius: 50%;
    margin: 20px 10px 0px 10px;
}

.admin-navlink-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 40vh;
    width: 100%;
}

.admin-nav-button{
    background-color:transparent;
    border: 0px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    margin: 15px 15px 5px 15px;
    transition: all 200ms ease-in-out;
}

.admin-nav-link:hover{
    scale: 1.05;
    border-bottom: 1px solid black;
}

.admin-nav-image{
    height: 30px;
    margin-top: 20px;
    transition: all 200ms ease-in-out;
    margin-bottom: 0px;
}


.admin-nav-link{
    display: flex;
    width: 220px;
    margin: 4px;
}