
.loginsection{
    margin-top: 40px;
    background-image: url(../../Assets/images/pexels-mathias-reding-9322198.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -120px;
    height: 89vh;
    overflow: hidden;
}

.main-container-login{
    margin: 1.5% 5% 0% 5%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: annimate 800ms ease-in-out;
}

@keyframes annimate {
    from{
        transform: translateY(600px);
    } to{
        transform: translateY(0px);
    }
}


.login-logo{
    text-align: center;
}

.login-main-container{
    background-color:  rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    width: 700px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 5px 5px 40px rgba(255, 255, 255, 0.8) inset;
}

.Main-login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}


.login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Username-container > label{
    color: rgb(7, 0, 0);
    margin-top: 20px;
}

.Username-container > input{
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    border-bottom: .5px solid rgb(0, 0, 0);
    outline: none;
    width: 300px;
    margin-top: 8px;
    padding: 2px;
}

.login_button_container{
    margin: 20px 0px 10px 0px;
}

.login_text_container{
    margin: 20px 0px 10px 0px
}

.login_button{
    width: 200px;
    background-color:orange;
    color: white;
    border: 0px;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
    cursor:pointer;
}

#signup-button{
    background-color: transparent;
    box-shadow: none;
    margin-left: -8px;
    margin-top: 2px;
}


/* Extra Small Devices  */
@media (max-width: 340px){
    
    .loginsection{
        margin-top: 0px;
        background-image: url(../../Assets/images/pexels-mathias-reding-9322198.jpg);
        background-size: cover;
        background-position: 0px -120px;
        overflow: hidden;
        height: 100vh;
        background-color: rebeccapurple;
    }

    
    .main-container-login{
        margin: 1.5% 5% 0% 5%;
        padding: 1%;
    }

    
    .login-main-container{
        margin: 3%;
        width: 80vw;
        height: 500px;
        border-radius: 10px;
    }

    .Username-container {
        font-size: 12px;
        width: 80vw;
    }

    .Username-container > input{
        margin-top: 8px;
        padding: 2px;
        width: 150px;
    }

    .login_button_container{
        margin: 20px 0px 10px 0px;
    }

    .login_text_container{
        margin: 20px 0px 10px 0px
    }

    .login_button{
        width: 150px;
        padding: 5px;
        border-radius: 10px;
        height: 45px;
}

    #signup-button{
        width: 100px;
        margin-left: -8px;
        margin-top: 2px;
    }

}

/* Small Devices (phones, portrait and landscape) */
@media (min-width: 341px) and (max-width: 769px) {

}

/* Tablets and Small Laptops */
@media  (min-width: 769px) and (max-width: 1044px) {

}

/*  Medium Laptops */
@media  (min-width: 1045px) and (max-width: 1440px){

}

/* Large Laptops and Desktops */
@media  (min-width: 1441px) and (max-width: 1600px){

}