:root{

    --darkorang:#FF6600;
    --lightorange:#ff983f;
    --lightyellow:#ffffa1;
    --white:#F5F5F5;
    --darkgrey:#929292;
    --black:#1d1f21;
    --text-200:#444648;
    --lightgrey:#cccccc;
    --white: #ffffff;
}

*{
    font-family: 'Montserrat', sans-serif;
}


.flex{
    display: flex;
    flex-wrap: wrap;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}