.cars-details-container{
    position: relative;
    left: 280px;
    padding: 40px 60px;
    z-index: -1;
}

.details-table {
    border-collapse: collapse;
    width: 100%;
}
  
.details-table-data , .details-table-header {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
.deatils-table-row:nth-child(even) {
    background-color:  rgba(248, 236, 219, 0.9)
}