
.nav-container{
    /* background-color: var(--darkorang); */
    height: 60px;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 80px;
    margin-top: 15px;
}

.menu-icon{
    visibility: hidden;
}

.nav-elemts{
    justify-content: space-around;
    padding: 0px;
    margin-top: -30px;
}

.nav-link{
    margin: 0px 25px;
    padding: 5px 20px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    transition: all ease-in-out 200ms;
    font-weight: 600;
}

.nav-link:hover{
    background-color: white;
    color: var(--darkorang);
    border-radius: 5px;
    font-weight: 600;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.dropdown-toggle .arrow {
    margin-left: 10px;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu-item {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.menu-item:hover {
    background-color: #f9f9f9;
}


/* Media Queries */


/* Extra Small Devices (phones, portrait and landscape) */
@media (max-width: 801px) {

    .nav-menu{
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    .menu-icon{
        visibility: visible;
        background-color: transparent;
        border: 0px;
    }

    .nav-container{
       height: 60px;
       padding: 0px;
       overflow: visible;
    }

    .logo{
        width: 60px;
        margin: 0;
        margin-left: 5px;
        padding: 0;
    }
    
    .nav-elemts{
        position: relative;
        display: flex;
        text-align: center;
        padding: 80px;
        height:90vh;
        width: 100vw;
        flex-direction: column;
        background-color: orange;
        z-index: 5;
        padding: 0;
        margin-top: 0px;
        /* margin-top: 1200px; */
    }

    .menu-visible{
       visibility: visible;
       /* position: fixed;
       z-index: 999; */
       /* transform: translateY(0px);
       transition: all 200ms ease-in-out; */
    }

    .menu-hidden{
        visibility: hidden;
        /* overflow: auto;
        transform: translateX(400px);
        transition: all 200ms ease-in-out; */
    }

}
  
  
/* Tablets and Small Laptops */
@media  (min-width: 802px) and (max-width: 1023px) {
    /* Your styles here */

    .logo{
        width: 50px;
    }

    .nav-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
    }

    .nav-container{
       height: 60px;
       padding: 0px;
       display: flex;
    }

    .menu-icon{
       display: none;
    }
    
    .nav-elemts{
        position: relative;
        display: flex;
        padding: 0;
        margin-top: 0;
    }

    .nav-link{
        font-size: 8px;
    }
}
  