
.main-container-sigin{
    margin: 0.2% 5% 0% 5%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Signin-main-container{
    background-color:  rgb(255, 250, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3%;
    width: 900px;
    flex-direction: row-reverse;
}

.signin-side-img{
    width: 500px;
    height: 600px;
    background-image: url("../../../Assets/images/car2.jpg");
    background-size: 460px;
    margin-left: 100px;
    background-repeat: no-repeat;
}

.Main-signin-form{
    width: 30%;
    margin: 10px;
    margin-left: 100px;

}

.signin-Quote-container{
    color: white;
    margin: 30px;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
}

.signin-logo{
    margin: 2px;
}
.Username-container > label{
    color: gray;
    margin-top: 20px;
}
.Username-container{
    display: flex;
    flex-direction: column;
}
.Username-container > input{
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    border-bottom: .5px solid black;
    outline: none;
    width: 300px;
    margin-top: 8px;
    padding: 2px;
}

.Signin_button_container{
    margin: 30px;
}

.Signin_button{
    width: 200px;
    background-color:orange;
    color: white;
    border: 0px;
    padding: 5px;
    border-radius: 10px;
    height: 50px;
}

#signup-button{
    background-color: transparent;
    box-shadow: none;
    margin-left: -8px;
    margin-top: 2px;
}